<head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title> ShiKho </title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- Place favicon.ico in the root directory -->
      <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.png">
      <!-- CSS here -->
      <link rel="stylesheet" href="/stylesheets/preloader.css">
      <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
      <link rel="stylesheet" href="/stylesheets/owl.carousel.min.css">
      <link rel="stylesheet" href="/stylesheets/meanmenu.css">
      <link rel="stylesheet" href="/stylesheets/animate.min.css">
      <link rel="stylesheet" href="/stylesheets/swiper-bundle.css">
      <link rel="stylesheet" href="/stylesheets/backToTop.css">
      <link rel="stylesheet" href="/stylesheets/jquery.fancybox.min.css">
      <link rel="stylesheet" href="/stylesheets/fontAwesome5Pro.css">
      <link rel="stylesheet" href="/stylesheets/elegantFont.css">
      <link rel="stylesheet" href="/stylesheets/default.css">
      <link rel="stylesheet" href="/stylesheets/style.css">
   </head>
